[user]
  name = Terry Ma
  email = zhenchuan.ma@gmail.com
[core]
  excludesfile = ~/.gitignore_global
[alias]
  d = difftool
  lg = log --abbrev-commit --decorate --pretty=oneline
[color]
  ui = auto
[diff]
  external = vimdiff-git
[pager]
  diff =
  log = false
[merge]
  keepBackup = false
  tool = fugitive
[mergetool]
  keepBackup = false
  keepTemporaries = false
  prompt = false
[mergetool "fugitive"]
  cmd = vim -f -c \"Gdiff\" \"$MERGED\"
  keepTemporaries = false
  keepBackup = false
