vimfiles/ruby/command-t/Makefile
vimfiles/ruby/command-t/ext.o
vimfiles/ruby/command-t/match.o
vimfiles/ruby/command-t/match.o
vimfiles/ruby/command-t/matcher.o
vimfiles/ruby/command-t/mkmf.log
vimfiles/ruby/command-t/ext.so
.VimballRecord
.netrwhist
