[submodule "vimfiles/bundle/ack"]
	path = vimfiles/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vimfiles/bundle/ctrlp"]
	path = vimfiles/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/supertab"]
	path = vimfiles/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "vimfiles/bundle/tagbar"]
	path = vimfiles/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vimfiles/bundle/powerline"]
	path = vimfiles/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vimfiles/bundle/command-t"]
	path = vimfiles/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "vimfiles/bundle/nerdcommenter"]
	path = vimfiles/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vimfiles/bundle/syntastic"]
	path = vimfiles/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vimfiles/bundle/easytags"]
	path = vimfiles/bundle/easytags
	url = https://github.com/xolox/vim-easytags.git
        ignore = untracked
[submodule "vimfiles/bundle/fugitive"]
	path = vimfiles/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/bundle/vim-session"]
	path = vimfiles/bundle/vim-session
	url = https://github.com/xolox/vim-session.git
        ignore = untracked
[submodule "tmux-powerline"]
	path = tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule "tmux-color-solarized"]
	path = tmux-color-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
[submodule "vimfiles/bundle/vim-distinguished"]
	path = vimfiles/bundle/vim-distinguished
	url = https://github.com/Lokaltog/vim-distinguished.git
[submodule "vimfiles/bundle/wombat256"]
	path = vimfiles/bundle/wombat256
	url = https://github.com/vim-scripts/wombat256.vim.git
[submodule "vimfiles/bundle/vim-golang"]
	path = vimfiles/bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule "vimfiles/bundle/jellybeans.vim"]
	path = vimfiles/bundle/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
