[user]
  name = Terry Ma
  email = hi@terry.ma
[init]
	templatedir = ~/.git/templates
[core]
  excludesfile = ~/.gitignore_global
  ; vimpager doesn't work very well with some log format, use less
	pager = less
[alias]
  lg = log --abbrev-commit --decorate --pretty=oneline
	dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%ar%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
[color]
  ui = auto
[diff]
  tool = myvimdiff
[difftool "myvimdiff"]
  cmd = vimdiff \"$REMOTE\" \"$LOCAL\"
[pager]
  diff =
  ; log = false
[merge]
  keepBackup = false
  tool = fugitive
[mergetool]
  keepBackup = false
  keepTemporaries = false
  prompt = false
[mergetool "fugitive"]
  cmd = vim -f -c \"Gdiff\" \"$MERGED\"
  keepTemporaries = false
  keepBackup = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
[amazon]
	append-cr-url = true
	pull-request-by-default = false
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
