[submodule ".vim/bundle/ack"]
  path = .vim/bundle/ack
  url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/ctrlp"]
  path = .vim/bundle/ctrlp
  url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/nerdtree"]
  path = .vim/bundle/nerdtree
  url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/tagbar"]
  path = .vim/bundle/tagbar
  url = https://github.com/majutsushi/tagbar
[submodule ".vim/bundle/powerline"]
  path = .vim/bundle/powerline
  url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/nerdcommenter"]
  path = .vim/bundle/nerdcommenter
  url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/syntastic"]
  path = .vim/bundle/syntastic
  url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/easytags"]
  path = .vim/bundle/easytags
  url = https://github.com/xolox/vim-easytags.git
  ignore = untracked
[submodule ".vim/bundle/fugitive"]
  path = .vim/bundle/fugitive
  url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-session"]
  path = .vim/bundle/vim-session
  url = https://github.com/xolox/vim-session.git
  ignore = untracked
[submodule ".vim/bundle/vim-distinguished"]
  path = .vim/bundle/vim-distinguished
  url = https://github.com/Lokaltog/vim-distinguished.git
[submodule ".vim/bundle/wombat256"]
  path = .vim/bundle/wombat256
  url = https://github.com/vim-scripts/wombat256.vim.git
[submodule ".vim/bundle/vim-golang"]
  path = .vim/bundle/vim-golang
  url = https://github.com/jnwhiteh/vim-golang.git
[submodule ".vim/bundle/jellybeans.vim"]
  path = .vim/bundle/jellybeans.vim
  url = https://github.com/nanotech/jellybeans.vim.git
[submodule ".vim/bundle/vividchalk"]
  path = .vim/bundle/vividchalk
  url = https://github.com/tpope/vim-vividchalk.git
[submodule ".vim/bundle/vim-desert-warm-256"]
  path = .vim/bundle/vim-desert-warm-256
  url = https://github.com/rainux/vim-desert-warm-256.git
[submodule ".vim/bundle/molokai"]
  path = .vim/bundle/molokai
  url = https://github.com/tomasr/molokai.git
[submodule ".vim/bundle/solarized"]
  path = .vim/bundle/solarized
  url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/pathogen"]
  path = .vim/bundle/pathogen
  url = https://github.com/tpope/vim-pathogen.git
[submodule ".tmux/tmux-powerline"]
  path = .tmux/tmux-powerline
  url = https://github.com/erikw/tmux-powerline.git
  ignore = untracked
[submodule ".tmux/tmux-colors-solarized"]
  path = .tmux/tmux-colors-solarized
  url = https://github.com/seebi/tmux-colors-solarized.git
[submodule ".dircolors-solarized"]
  path = .dircolors-solarized
  url = https://github.com/seebi/dircolors-solarized.git
[submodule ".vim/bundle/surround"]
  path = .vim/bundle/surround
  url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/scrollcolors"]
  path = .vim/bundle/scrollcolors
  url = https://github.com/vim-scripts/ScrollColors.git
[submodule ".vim/bundle/quickrun"]
  path = .vim/bundle/quickrun
  url = https://github.com/thinca/vim-quickrun.git
  ignore = untracked
[submodule ".vim/bundle/neocomplcache"]
  path = .vim/bundle/neocomplcache
  url = https://github.com/Shougo/neocomplcache.git
[submodule ".vim/bundle/easymotion"]
  path = .vim/bundle/easymotion
  url = https://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/neosnippet"]
  path = .vim/bundle/neosnippet
  url = https://github.com/Shougo/neosnippet.git
[submodule ".vim/bundle/tasklist"]
  path = .vim/bundle/tasklist
  url = https://github.com/vim-scripts/TaskList.vim.git
[submodule ".vim/bundle/conque-term"]
  path = .vim/bundle/conque-term
  url = https://github.com/rosenfeld/conque-term.git
  ignore = untracked
[submodule ".vim/bundle/vimproc"]
  path = .vim/bundle/vimproc
  url = https://github.com/Shougo/vimproc.git
[submodule ".vim/bundle/vimshell"]
  path = .vim/bundle/vimshell
  url = https://github.com/Shougo/vimshell.git
[submodule ".vim/bundle/clam"]
  path = .vim/bundle/clam
  url = https://github.com/sjl/clam.vim.git
  ignore = untracked
[submodule ".vim/bundle/snipmate-snippets"]
  path = .vim/bundle/snipmate-snippets
  url = https://github.com/honza/snipmate-snippets.git
[submodule ".zsh/vimpager"]
  path = .zsh/vimpager
  url = https://github.com/rkitover/vimpager.git
[submodule ".vim/bundle/calendar"]
  path = .vim/bundle/calendar
  url = https://github.com/mattn/calendar-vim.git
  ignore = untracked
[submodule ".vim/bundle/bufonly"]
  path = .vim/bundle/bufonly
  url = https://github.com/vim-scripts/BufOnly.vim.git
[submodule ".tools/git-submodule-tools"]
	path = .tools/git-submodule-tools
	url = https://github.com/kollerma/git-submodule-tools.git
[submodule ".vim/bundle/vim-signature"]
	path = .vim/bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
