[submodule ".tmux/tmux-powerline"]
	path = .tmux/tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
  ignore = untracked
[submodule ".tmux/tmux-colors-solarized"]
	path = .tmux/tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
[submodule ".dircolors-solarized"]
	path = .dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "git-extras"]
	path = git-extras
	url = https://github.com/visionmedia/git-extras.git
[submodule ".themes/base16-iterm2"]
	path = .themes/base16-iterm2
	url = https://github.com/chriskempson/base16-iterm2.git
[submodule ".zsh/vimpager"]
	path = .zsh/vimpager
	url = https://github.com/rkitover/vimpager.git
[submodule ".themes/konsole-tomorrow-theme"]
	path = .themes/konsole-tomorrow-theme
	url = https://github.com/dram/konsole-tomorrow-theme.git
  ignore = dirty
[submodule ".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
