set editing-mode vi
set keymap vi-insert
"\C-w": backward-kill-word
"\C-e": end-of-line
"\C-r": reverse-search-history
"\C-t": set-mark
"\C-y": copy-region-as-kill
"\C-u": unix-line-discard
"\C-o": kill-line
"\C-a": beginning-of-line
"\C-s": forward-search-history
"\C-d": kill-word
"\C-f": previous-history
"\C-g": undo
"\C-h": backward-word
"\C-j": backward-char
"\C-k": forward-char
"\C-l": forward-word
"\C-x": delete-char
"\C-v": yank
"\C-b": next-history
"\C-n": clear-screen
"\C-_": undo
