set editing-mode emacs
"\C-w": backward-kill-word
"\C-e": end-of-line
"\C-r": reverse-search-history
"\C-t": set-mark
"\C-y": copy-region-as-kill
"\C-u": unix-line-discard
"\C-o": kill-line
"\C-a": beginning-of-line
"\C-s": forward-search-history
"\C-d": kill-word
"\C-f": backward-char
"\C-g": forward-char
"\C-h": backward-word
"\C-j": next-history
"\C-k": previous-history
"\C-l": forward-word
"\C-v": yank
"\C-n": clear-screen
"\C-_": undo
# In iTerm, <Ctrl-BS> sends Alt-d
"d": backward-kill-word
