snippet == "80 character comment header" !b
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" ${0:Title}
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
endsnippet
